body{
    background-image: url("../images/wormz.png");
}
h1,.scoreboard{
    color: white;
}
h1{
    background: orangered;
    width: 30%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.rules{
    background: peachpuff;
    width: 30%;
    color: green;
    padding-top: 20px;
    padding-bottom: 60px;
}
.scoreboard{
    background: teal;
    width: 30%;
}
#winsLosses{
    background: skyblue;
}